@model RandevuSistemi.ViewModels.ComparePasswordViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="../../Files/favicon.png" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Oxygen&display=swap" rel="stylesheet">
    <title>Randevu Sistemi</title>
    <link rel="stylesheet" href="/Content/NewPassword.css" />
</head>
<body>

    <div class="container d-flex justify-content-center">
        <div class="pass-reset-content">
            <div>
                <h4 class="text">Yeni Parola</h4>
            </div>
            <div class="pass-reset-form">
                @using (Html.BeginForm("NewPassword", "User", FormMethod.Post, new { @autocomplete = "off" }))
                {
                    @Html.HiddenFor(m => m.TC, new { @style = "margin:0px;padding:0px;", @Value = TempData["userTCKN"] })
                    <div class="input-group">
                        <span><i class="fa fa-lock" aria-hidden="true" style="color:#808080;font-size:20px;position:relative;top:7px;left:20px;"></i></span>
                        @Html.TextBoxFor(m => m.Parola, new { @class = "form-control", @type = "password", @placeholder = "Yeni Parola", @required = "required", @maxlength = "30" })
                        <p class="error-validation-message">@Html.ValidationMessageFor(m => m.Parola)</p>
                    </div>
                    <div class="input-group">
                        <span><i class="fa fa-lock" aria-hidden="true" style="color:#808080;font-size:20px;position:relative;top:7px;left:20px;"></i></span>
                        @Html.TextBoxFor(m => m.ParolaTekrar, new { @class = "form-control", @type = "password", @placeholder = "Yeni Parola Tekrar", @required = "required", @maxlength = "30" })
                        <p class="error-validation-message">@Html.ValidationMessageFor(m => m.ParolaTekrar)</p>
                    </div>
                    <button type="submit" class="btn btn-outline-success" id="btn-pass-search">Parola Güncelle</button>
                }
            </div>
        </div>
    </div>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

</body>
</html>
