@model RandevuSistemi.ViewModels.ComparePasswordViewModel

@{
    ViewBag.Title = "AdminPasswordUpdate";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    <div class="admin-pass-update">
        <div>
            @if (ViewBag.PasswordError != null)
            {
                <div class="error-alert">
                    <i class="fas fa-exclamation-triangle"></i>
                    <p class="error-message-text">@ViewBag.PasswordError</p>
                </div>
            }
        </div>
        @using (Html.BeginForm("AdminPasswordUpdate", "Admin", FormMethod.Post, new { @autocomplete = "off" }))
        {
            <div class="input-group">
                <span><i class="fa fa-lock" aria-hidden="true" style="color:#808080;font-size:20px;position:relative;top:0px;left:0px;"></i></span>
                @Html.TextBoxFor(m => m.mevcutParola, new { @class = "form-control", @type = "password", @placeholder = "Mevcut Parola", @required = "required", @maxlength = "30" })
                <p class="error-validation-message">@Html.ValidationMessageFor(m => m.mevcutParola)</p>
            </div>
            <div class="input-group">
                <span><i class="fa fa-lock" aria-hidden="true" style="color:#808080;font-size:20px;position:relative;top:0px;left:0;"></i></span>
                @Html.TextBoxFor(m => m.Parola, new { @class = "form-control", @type = "password", @placeholder = "Yeni Parola", @required = "required", @maxlength = "30" })
                <p class="error-validation-message">@Html.ValidationMessageFor(m => m.Parola)</p>
            </div>
            <div class="input-group">
                <span><i class="fa fa-lock" aria-hidden="true" style="color:#808080;font-size:20px;position:relative;top:0px;left:0px;"></i></span>
                @Html.TextBoxFor(m => m.ParolaTekrar, new { @class = "form-control", @type = "password", @placeholder = "Yeni Parola Tekrar", @required = "required", @maxlength = "30" })
                <p class="error-validation-message">@Html.ValidationMessageFor(m => m.ParolaTekrar)</p>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-success mt-4">Parola Güncelle</button>
            </div>
        }
    </div>
</div>

@section validation{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}

