@model RandevuSistemi.Models.Tables.Vatandas
@{
    ViewBag.Title = "UserDataUpdate";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    <div class="userupdate-container-sub-div">
        @using (Html.BeginForm("UserDataUpdate", "Admin", FormMethod.Post))
        {
            @Html.HiddenFor(m => m.TC)
            <div class="mt-5">
                <label>AD</label>
                <div class="input-group">
                    <span style="font-size: 20px; margin-top: 3px; margin-right: 5px;"><i class="fa fa-user" aria-hidden="true"></i></span>
                    @Html.TextBoxFor(m => m.Ad, new { @class = "form-control", @maxlength = "30", @required = "required" })
                </div>
                <p class="error-validation-message">@Html.ValidationMessageFor(m => m.Ad)</p>
            </div>
            <div class="mt-5">
                <label>SOYAD</label>
                <div class="input-group">
                    <span style="font-size: 20px; margin-top: 3px; margin-right: 5px;"><i class="fa fa-user" aria-hidden="true"></i></span>
                    @Html.TextBoxFor(m => m.Soyad, new { @class = "form-control", @maxlength = "30", @required = "required" })
                </div>
                <p class="error-validation-message">@Html.ValidationMessageFor(m => m.Soyad)</p>
            </div>
            <div class="mt-5">
                <label>DOĞUM TARİHİ</label>
                <div class="input-group">
                    <span style="font-size: 20px; margin-top: 3px; margin-right: 5px;"><i class="fas fa-calendar-week" aria-hidden="true"></i></span>
                    @Html.TextBoxFor(m => m.DogumTarihi, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date", @required = "required" })
                </div>
                <p class="error-validation-message">@Html.ValidationMessageFor(m => m.DogumTarihi)</p>
            </div>
            <div class="mt-5">
                <label>CİNSİYET</label>
                <div class="input-group gender-style" style="border-bottom: 1px solid #dddddd;">
                    <label>
                        <i class="fas fa-male" style="font-size:25px;margin-top:-4px;margin-right:3px;"></i>
                        @Html.RadioButtonFor(m => m.Cinsiyet, "Erkek", new { @required = "required" }) Erkek
                    </label>

                    <label class="ml-3">
                        <i class="fas fa-female" style="font-size:25px;margin-top:-4px;margin-right:5px;"></i>
                        @Html.RadioButtonFor(m => m.Cinsiyet, "Kadın", new { @required = "required" }) Kadın
                    </label>
                </div>
                <p class="error-validation-message" style="margin-top:-5px;">@Html.ValidationMessageFor(m => m.Cinsiyet)</p>
            </div>
            <div class="mt-5">
                <label>TELEFON</label>
                <div class="input-group">
                    <span style="font-size: 20px; margin-top: 3px; margin-right: 5px;"><i class="fa fa-phone" aria-hidden="true"></i></span>
                    @Html.TextBoxFor(m => m.Telefon, new { @class = "form-control", @maxlength = "11", @required = "required", @pattern = "[0-9]{4}[0-9]{3}[0-9]{4}" })
                </div>
                <p class="error-validation-message">@Html.ValidationMessageFor(m => m.Telefon)</p>
            </div>
            <div class="mt-5">
                <label>E MAİL</label>
                <div class="input-group">
                    <span style="font-size: 20px; margin-top: 3px; margin-right: 5px;"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                    @Html.TextBoxFor(m => m.EMail, new { @class = "form-control", @maxlength = "50", @type = "email", @required = "required" })
                </div>
                <p class="error-validation-message">@Html.ValidationMessageFor(m => m.EMail)</p>
            </div>

            <div class="d-flex justify-content-center mt-4">
                <button type="submit" class="btn btn-success mt-3">Güncelle</button>
            </div>
        }
    </div>
</div>

<script>

    // Doğum tarihi için takvim maximum bulunduğumuz tarih için ayarlandı

    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1;
    var yyyy = today.getFullYear();

    if (dd < 10) { dd = '0' + dd }
    if (mm < 10) { mm = '0' + mm }

    today = yyyy + '-' + mm + '-' + dd;
    document.getElementById("DogumTarihi").setAttribute("max", today);

    // Doğum tarihi için takvim minimum tarih için ayarlandı

    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1;
    var yyyy = today.getFullYear() - 100;

    if (dd < 10) { dd = '0' + dd }
    if (mm < 10) { mm = '0' + mm }

    today = yyyy + '-' + mm + '-' + dd;
    document.getElementById("DogumTarihi").setAttribute("min", today);

</script>

