<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="@Url.Action("Index","Home")"><p style="font-size:22px;color:#e1e1e1">E Randevu Sistemi</p></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("MakeAnAppointment", "Appointment")"><i class="fas fa-calendar-plus" style="margin-top:2px;margin-right:15px;color:#eeeeee;"></i>Randevu Al</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Appointments", "Appointment")"><i class="fas fa-calendar-check" style="margin-top: 2px; margin-right: 15px; color: #eeeeee;"></i>Randevularım</a>
            </li>
        </ul>
        <div class="form-inline my-2 my-lg-0">
            <p class="userNameText">@Session["UserName"]</p>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item"><a href="@Url.Action("Profil", "User")" class="nav-link"><i class="fas fa-user" style="margin-top: 2px; margin-right: 15px; color: #eeeeee;"></i> Profil</a></li>
                <li class="nav-item"><a href="@Url.Action("Logout", "Home")" class="nav-link"><i class="fas fa-sign-out-alt" style="margin-top: 4px; margin-right: 15px; color: #eeeeee;"></i> Çıkış</a></li>
            </ul>
        </div>
    </div>
</nav>

